/* "#f22f46", "#1E9D8F", "#BEEF2E" */

body {
  color: #565b73;
}

.content {
  margin: 0px auto;
  max-width: 1000px;
}

.panel {
  border-radius: 6px;
}

.panel>.header {
  padding: 10px;
  font-size: 17px;
  line-height: 20px;
  color: #152748;
  border-bottom: solid 3px #e3e3e3;
  text-transform: capitalize;
  margin: 10px;
}

.panel > .body {
  border-top: none;
  padding: 20px;
}

.panel > .body > .chart {
  max-width: 100%;
}

.bigvalue {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}

ul.key-value-pairs {
  padding: 0;
  margin: 0;
}

ul.key-value-pairs li {
  list-style-type: none;
  font-family: monospace, monospace;
}

button {
  border: none;
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 11px 18px 10px;
  font-size: 13px;
  color: rgba(13,17,43,.8);
  line-height: 1;
}

button:hover {
  background-color: #e8e8e8;
}

button.primary {
  background-color: #f22f46;
  color: #ffffff;
}

button.primary:hover {
  background-color: #ec0f29;

}
